@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Handlee&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Geo&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Geo', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #EBEDDF;
    color: #000000;
    margin: auto;
}

/* ----- Navbar ----- */

.nav-bar{
  height: 70px;
  background: #333A2F;
  z-index: 1;
}

.nav-container{
max-width: 1000px;
max-height: 70px;
}

.active {
text-decoration: underline;
text-decoration-color: #f3cfcd;
color: #f3cfcd;
}

.nav-list {
font-size: 150%;
}

nav{
float: left;
padding: 70px 0 0 0;
}

nav ul{
list-style: none;
}

nav ul li{
float: left;
position: relative;
}

nav ul li a{
display: block;
padding: 0 20px;
line-height: 70px;
background: #333A2F;
text-decoration: none;
color: #EBEDDF;
}

nav ul li a:hover{
background: #333A2F;
color: #fff;
}

nav ul li a:not(:only-child):after{
content: '▼';
padding-left: 5px;
}

nav ul li ul li {
min-width: 190px;
}

nav ul li ul li a{
padding: 15px;
line-height: 20px;
}

.nav-dropdown{
position: absolute;
display: none;
z-index: 1;
}

.nav-mobile{
display: none;
position: static;
top: 0;
right: 0;
}

#nav-toggle{
position: absolute;
left: 18px;
top: 22px;
cursor: pointer;
padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after{
position: absolute;
display: block;
content: '';
background: #EBEDDF;
height: 5px;
width: 35px;
transition: all 300ms ease-in-out;
}

#nav-toggle span::before{
top: -10px;
}

#nav-toggle span::after{
bottom: -10px;
}

#nav-toggle.active span{
background-color: transparent;
}

#nav-toggle.active span::before, #nav-toggle.active span::after{
top: 0;
}

#nav-toggle.active span::before{
transform: rotate(45deg);
}

#nav-toggle.active span::after{
transform: rotate(-45deg);
}

#site-logo {
height: 65px;
padding-top: 2px;
float: right;
/* position: absolute; */
right: 5px;
}

/* Reusable Components / Generic Items */

.page-title {
    text-align: center; 
    font-size: 36px;
    line-height: 60px;
    background-color: #edc8c8;
}

.paragraph-header {
    text-align: center; 
    font-size: 28px;
    line-height: 70px;
}

.paragraph-content {
    text-align: center; 
    font-size: 18px;
}

.team-page-quotes {
    text-align: center; 
    font-size: 16px;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 30px;
    font-family: 'Handlee', cursive;
}

.team-page-quotes img {
  border-radius: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item-left {
  background-color: #EBEDDF;
  padding: 10px;
  flex: 50%;
}

.flex-item-left:hover {
  background-color: #333A2F;
  color: #EBEDDF;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: #EBEDDF;
  padding: 10px;
  flex: 50%;
}

.flex-item-right:hover {
  background-color: #333A2F;
  color: #EBEDDF;
  padding: 10px;
  flex: 50%;
}

.flex-item-center {

  background-color: #EBEDDF;
  padding: 10px;
  flex: 100%;
  text-align: center;  
}

/* Memory Card Game */

#game-h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 30px;
  padding-top: 10px;
}

#game-p, #game-p2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.actions button {
  padding: 8px 16px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #edc8c8;
  color: black;
}

.grid-container {
  display: grid;
  max-width: 100%;
  justify-content: center;
  background-color: #333A2F;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(2, calc(100px / 2 * 3));
}

.card {
  height: calc(100px / 2 *3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 60px;
  height: 60px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card .back {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 51%, 86%, 1)'/><path d='M15 5h10v30H15zM35-5V5H5V-5zM35 35v10H5V35zM35-15h10v30H35zM55 15v10H25V15zM15 15v10h-30V15zM35 25h10v30H35zM-5 25H5v30H-5zM-5-15H5v30H-5z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-position: center center;
  border-width: 3px;
  border-color: black;
  background-size: cover;
  backface-visibility: hidden;
}

.paragraph-content-memory-page {
  text-align: center;
  padding-bottom: 10px;
}

.rule-list {
  list-style: decimal;
  padding-bottom: 70px;
}





























.flex-card-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 550px;
  margin: auto;
  width: 60%;
  grid-gap: 8px;
  background-color: #333A2F;
  padding: 10px;
  border-radius: 10px;
}
 
button {
  background-color: #333A2F;
  font-size: 2rem;
  border: solid black 1px;
  border-radius: 10px;
}
 
.flex-card-game button img {
  width: 12.5vh;
  pointer-events: none;
}
 
.win-container {
  grid-column: 2/4;
  grid-row: 2/4;
  background-color: #f3cfcd;
  display: none;
  border: black solid 1px;
  flex-direction: column;
  text-transform: uppercase;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 10vmin;
  border-radius: 10px;
}
 
.play-again {
  background: #fbb040;
  color: black;
  padding: 0.5rem;
  text-transform: uppercase;
  border: 1px black solid;
  border-radius: 10px;
}

.flex-feedback-items {
  flex: 33%;
  flex-direction: column;
}


/* button#1, button#5, button#9 {
  padding-left: 30px;
} */







































/* Memory Game Modal */

.modal {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 85%;
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}
.modal h2 { margin-top: 0; }
.modal .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #777;
}
.modal .close:hover { opacity: 1; }
.modal .content {
  max-height: 670px;
  overflow: auto;
}
.modal p {
  margin: 0 0 1em;
  text-align: center;
}
.modal p:last-child { margin: 0; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 800ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal-button {
  background-color: #262626;
  color: #edcd1d;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration-line: none;
}

.modal-button:hover {
  background-color: #756409;
  color: #262626;
}

/* About Us Page Items  */

#mission-statement-img {
  width: 60%;
  border-style: solid;
  border-width: 4px;
}

  /* ----- Footer -----  */

footer{
  position:fixed;bottom:0;left:0;right:0;
  height: 40px;
  background: #333A2F;
  z-index: 1;
}

footer a {
  text-decoration: none;
}

#footer-text {
  color: #EBEDDF;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display: inline-block;
}

.social-networks i{
  font-size: 150%;
  margin: 10%;
  padding: 3px;
  color: #f3cfcd;;
} 

  /* Media Queries */

@media only screen and (max-width: 851px) {

  /* Navbar Mobile */

  .nav-mobile{
      display: block;
      float: left;
  }

  nav{
      width: 100%;
      padding: 0 0 0 0;
  }

  nav ul{
      display: none;
  }

  nav ul li {
      float: none;
  }

  nav ul li a{
      padding: 15px;
      line-height: 20px;
      padding-left: 10%;
  }

  nav ul li ul li a{
      padding-left: 15%;
  }

  .nav-dropdown{
      position: static;
  }

  .flex-container {
    flex-direction: column;
    width: 100%;
  }

  .flex-item-right, .flex-item-left, .flex-item-center {
    flex: 100%;
  }

  .flex-mobile {
    position: inherit;
    flex-basis:initial;
  }

  #team-member-5, #team-member-6 {
    width: 100%; 
    height: auto;
    float:left;
  }

  #mission-statement-img {
    width: 60%;
    max-width: 250px;
    border-style: solid;
    border-width: 4px;
    border-color: #333A2F;
  }
  
  .grid-container {
    display: grid;
    max-width: 100%;
    justify-content: center;
    padding-left: 20px;
    grid-gap: 8px;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(2, calc(100px / 2 * 3));
  }
  
  .card {
    height: calc(100px / 2 *3);
    width: 100px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }
}


@media screen and (min-width: 852px) and (max-width: 1399px){
    
  /* Navbar */

  nav {
      float: left;
      padding: 0 0 0 0px;
  }

  .nav-list {
      display: block !important;
  }

  /* About Us page Layout Desktop */

  #team-member-1, #team-member-2, #team-member-3, #team-member-4 {
    height: 500px;
    float:left;
  }

  #site-logo {
    position: absolute;
  }

  #mission-statement-img {
    width: 30%;
    border-style: solid;
    border-width: 4px;
    border-color: #333A2F;
  }
   
  #team-member-5, #team-member-6 {
    width: 100%; 
    height: auto;
    float:left;
  }
  
  #team-member-5 h1, #team-member-5 h3, #team-member-6 h3, #team-member-6 h1 {
    padding-left: 25%;
    padding-right: 25%;
  }


}

@media screen and (min-width: 1400px){

  /* Navbar */

  nav {
    float: left;
    padding: 0 0 0 0px;
  }

  .nav-list {
    display: block !important;
  }
  
  /* About Us page layout */

  #team-member-1, #team-member-2, #team-member-3, #team-member-4 {
    height: 500px;
    float:left;
  }
  
  #team-member-5, #team-member-6 {
    width: 100%; 
    height: auto;
    float:left;
  }
  
  #team-member-5 h1, #team-member-5 h3, #team-member-6 h1, #team-member-6 h3 {
    padding-left: 25%;
    padding-right: 25%;
  }

  .team-page-quotes {
    text-align: center; 
    font-size: 16px;
    padding-left: 60px;
    padding-top: 25px;
    padding-right: 60px;
    font-family: 'Handlee', cursive;
  }

  .mission-quotes {
    text-align: center; 
    font-size: 16px;
    padding-left: 60px;
    padding-top: 25px;
    padding-right: 60px;
    font-family: 'Handlee', cursive;
  }

  #mission-statement-img {
    width: 25%;
    border-style: solid;
    border-width: 4px;
    border-color: #333A2F;
  }

  #site-logo {
    position: absolute;
  }
}